.idea
.cache
.github
node_modules
src
src/*
src/**
test
tests
example
examples
example-node
.babelrc
.prettierignore
.prettierrc
jest.config.ts
tsconfig.json
vitest.config.ts
vite.config.ts
.turbo
tsup.config.ts
